openapi: 3.2.0
info:
  title: Reposit Customer API - OpenAPI 3.0 Auth API
  description: 'This is an informal description of external Reposit API provided to Reposit

    customers.'
  contact:
    email: api@repositpower.com
  version: 2023.5.1
servers:
- url: https://api.repositpower.com/
tags:
- name: Auth
  description: Authentication operations
paths:
  /v2/auth/login/:
    post:
      tags:
      - Auth
      summary: Login route
      description: Log into your account and receive an authentication token
      parameters:
      - $ref: '#/components/parameters/repositAuthHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
      operationId: postV2AuthLogin
      x-operation-id-source: derived
  /v2/auth/refresh/:
    post:
      tags:
      - Auth
      summary: Auth token refresh route
      description: Post your refresh token to this route when using API auth in order to get a new token
      parameters:
      - $ref: '#/components/parameters/repositAuthHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
        required: true
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
      operationId: postV2AuthRefresh
      x-operation-id-source: derived
  /v2/userkeys/:
    get:
      tags:
      - Auth
      summary: This endpoint returns all userkeys/battery system identifiers for the current…
      parameters:
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserKeys'
      operationId: getV2Userkeys
      x-operation-id-source: derived
components:
  schemas:
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_at:
          type: integer
    UserKeys:
      type: object
      properties:
        userKeys:
          type: array
          items:
            type: string
    LoginRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    RefreshResponse:
      type: object
      properties:
        access_token:
          type: string
    RefreshRequest:
      type: object
      properties:
        refresh_token:
          type: string
  parameters:
    repositAuthHeader:
      name: Reposit-Auth
      in: header
      description: The kind of authentication used (API or Stateless)
      schema:
        type: string
        default: Stateless
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
