openapi: 3.2.0
info:
  title: Reposit Customer API - OpenAPI 3.0 Deployment API
  description: 'This is an informal description of external Reposit API provided to Reposit

    customers.'
  contact:
    email: api@repositpower.com
  version: 2023.5.1
servers:
- url: https://api.repositpower.com/
tags:
- name: Deployment
  description: Deployment operations
paths:
  /v2/deployments/{userkey}/components:
    get:
      tags:
      - Deployment
      summary: Get a list of components of your deployment (the Reposit Box and attached…
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsResponse'
      operationId: getV2DeploymentsByUserkeyComponents
      x-operation-id-source: derived
  /v2/deployments/{userkey}/battery/capacity:
    get:
      tags:
      - Deployment
      summary: Get the current capacity of the battery (or batteries) of the given deployment
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryCapacity'
      operationId: getV2DeploymentsByUserkeyBatteryCapacity
      x-operation-id-source: derived
  /v2/deployments/{userkey}/generation/historical/p:
    get:
      tags:
      - Deployment
      summary: Get solar generation data as negative real_power in kW
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHistoricalP'
      operationId: getV2DeploymentsByUserkeyGenerationHistoricalP
      x-operation-id-source: derived
  /v2/deployments/{userkey}/inverter/historical/p:
    get:
      tags:
      - Deployment
      summary: Get battery inverter data as real_power in kW
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InverterHistoricalP'
      operationId: getV2DeploymentsByUserkeyInverterHistoricalP
      x-operation-id-source: derived
  /v2/deployments/{userkey}/house/historical:
    get:
      tags:
      - Deployment
      summary: Get house consumption in kW
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HouseHistorical'
      operationId: getV2DeploymentsByUserkeyHouseHistorical
      x-operation-id-source: derived
  /v2/deployments/{userkey}/battery/historical/soc:
    get:
      tags:
      - Deployment
      summary: Get state of charge of a battery in kWh
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryHistoricalSoC'
      operationId: getV2DeploymentsByUserkeyBatteryHistoricalSoc
      x-operation-id-source: derived
  /v2/deployments/{userkey}/meter/historical/p:
    get:
      tags:
      - Deployment
      summary: Get real power measurements in kW at the grid connection
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterHistoricalP'
      operationId: getV2DeploymentsByUserkeyMeterHistoricalP
      x-operation-id-source: derived
  /v2/deployments/{userkey}/gridcredits/historical:
    get:
      tags:
      - Deployment
      summary: Get earned GridCredits in $
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/startParam'
      - $ref: '#/components/parameters/endParam'
      - $ref: '#/components/parameters/deltaTParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridCreditsHistorical'
      operationId: getV2DeploymentsByUserkeyGridcreditsHistorical
      x-operation-id-source: derived
components:
  schemas:
    MeterHistoricalP:
      type: object
      properties:
        meterP:
          type: array
          items:
            type: array
            items:
              type: number
    StreamComponent:
      type: object
      properties:
        <uid>:
          type: object
          properties:
            name:
              type: string
            phases:
              type: object
              properties:
                <phase>:
                  type: string
    HouseHistorical:
      type: object
      properties:
        data:
          type: object
          properties:
            components:
              $ref: '#/components/schemas/ComponentsResponse'
            houseP:
              type: array
              items:
                type: array
                items:
                  type: number
    GenerationHistoricalP:
      type: object
      properties:
        solarP:
          type: array
          items:
            type: array
            items:
              type: number
    BatteryCapacity:
      type: object
      properties:
        batteryCapacity:
          description: Battery capacity from 0.0 to 1.0 (0% to 100%)
          type: number
    ComponentsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            ac_dc:
              type: boolean
            battery:
              type: boolean
            dc_coupled:
              type: boolean
            frequency_trigger:
              type: boolean
            inverter:
              type: boolean
            load_meter:
              type: boolean
            load_phases:
              type: array
              items:
                type: string
            solar_meter:
              type: boolean
            solar_phases:
              type: array
              items:
                type: string
            solar_streams_ac:
              $ref: '#/components/schemas/StreamComponent'
            solar_streams_dc:
              $ref: '#/components/schemas/StreamComponent'
    GridCreditsHistorical:
      type: object
      properties:
        gridcredits:
          type: array
          items:
            type: array
            items:
              type: number
    InverterHistoricalP:
      type: object
      properties:
        inverterP:
          type: array
          items:
            type: array
            items:
              type: number
    BatteryHistoricalSoC:
      type: object
      properties:
        batteryCapacity:
          type: number
        batterySOC:
          type: array
          items:
            type: array
            items:
              type: number
  parameters:
    startParam:
      name: start
      in: query
      description: The start UNIX timestamp
      required: false
      schema:
        type: integer
    deltaTParam:
      name: delta_t
      in: query
      description: The number of seconds between each data point
      required: false
      schema:
        type: integer
        default: 300
    endParam:
      name: end
      in: query
      description: The end UNIX timestamp
      required: false
      schema:
        type: integer
    repositAuthHeader:
      name: Reposit-Auth
      in: header
      description: The kind of authentication used (API or Stateless)
      schema:
        type: string
        default: Stateless
    userkeyParam:
      name: userkey
      in: path
      description: The userkey of the deployment to get data for
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
