openapi: 3.2.0
info:
  title: Reposit Customer API - OpenAPI 3.0 Battery API
  description: 'This is an informal description of external Reposit API provided to Reposit

    customers.'
  contact:
    email: api@repositpower.com
  version: 2023.5.1
servers:
- url: https://api.repositpower.com/
tags:
- name: battery
paths:
  /v2/deployments/{userkey}/battery/capacity:
    get:
      tags:
      - battery
      summary: Get the current capacity of the battery (or batteries) of the given deployment
      parameters:
      - $ref: '#/components/parameters/userkeyParam'
      - $ref: '#/components/parameters/repositAuthHeader'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryCapacity'
      operationId: getV2DeploymentsByUserkeyBatteryCapacity
      x-operation-id-source: derived
components:
  parameters:
    userkeyParam:
      name: userkey
      in: path
      description: The userkey of the deployment to get data for
      required: true
      schema:
        type: string
    repositAuthHeader:
      name: Reposit-Auth
      in: header
      description: The kind of authentication used (API or Stateless)
      schema:
        type: string
        default: Stateless
  schemas:
    BatteryCapacity:
      type: object
      properties:
        batteryCapacity:
          description: Battery capacity from 0.0 to 1.0 (0% to 100%)
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
